#alBody
{
    height: 3rem;
    /* width: 90vw; */
    display: flex;
    padding: 0 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 4rem;
    /* border: 2px solid red; */
    background-color: rgba(0, 0, 0, 0.451);
    background-image: linear-gradient(to right top,rgba(9, 169, 255, 0.764) ,  #14f178c2);
}

#alBody >button{
    background: transparent;
    border-radius: 4rem;
    font-size: 1.3rem;
    cursor: pointer;
}
#alBody p{
    font-size: 1.3rem;
}