.center{
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* KEYFRAMES */
  
  @keyframes spin3D {
    from {
      transform: rotate3d(.5,.5,.5, 360deg);
    }
    to{
      transform: rotate3d(0deg);
    }
  }
  
  .spinner-box {
    width: 30rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  .spinner-box h1{
    font-size: 5rem;
    z-index: 1;
    color: beige;
     /* for text gredient color. */
     background-image: linear-gradient(45deg, #12ffc4, #ee2d64);
     background-size: 100%;
     background-repeat: repeat;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     -moz-background-clip: text;
     -moz-text-fill-color: transparent;
  }
.spinner-box p{
        font-size: 1.5rem;
      }
  
  /* SPINNING CIRCLE */
  
  .leo-border-1 {
    position: absolute;
    width: 30rem;
    height: 30rem;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(63,249,220);
    background: linear-gradient(0deg, rgba(63,249,220,0.1) 33%, rgba(63,249,220,1) 100%);
    animation: spin3D 1.8s linear 0s infinite;
  }
  
  .leo-core-1 {
    width: 100%;
    height: 100%;
    background-color: #37474faa;
    border-radius: 50%;
  }
  
  .leo-border-2 {
    position: absolute;
    width: 30rem;
    height: 30rem;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(251, 91, 83);
    background: linear-gradient(0deg, rgba(251, 91, 83, 0.1) 33%, rgba(251, 91, 83, 1) 100%);
    animation: spin3D 2.2s linear 0s infinite;
  }
  
  .leo-core-2 {
    width: 100%;
    height: 100%;
    background-color: #1d2630aa;
    border-radius: 50%;
  }

  @media screen and (max-width :500px) {
    .leo-border-1 {
        height: 20rem;
        width: 20rem;
    }
    .leo-border-2 {
        height: 20rem;
        width: 20rem;
    }
    .spinner-box h1{
        font-size: 4rem;
      }
    .spinner-box p{
        font-size: 0.7rem;
      }
  }
  
  
