@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
#login_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-family: 'Alkatra', cursive;
}

.from_body {
    height: 60vh;
    width: 50vw;
    /* border: 2px solid red; */
    border-radius: 3rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.144);
    background-image: linear-gradient(to left bottom, #2600009e, rgba(9, 255, 222, 0.515), rgba(78, 248, 225, 0.296));
    /* animation: bg_img_change ease-in-out 30s infinite; */
    overflow: hidden;

}

.from_body h2 {
    /* margin: 1rem; */
    height: 30%;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    /* for text gredient color. */
    background-image: linear-gradient(45deg, #f0f972, #b2e6f4);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.from_body form {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    border-radius: 3rem;

}

.from_body form input {
    /* border: 2px solid red; */
    width: 70%;
    height: 2rem;
    margin: 1rem;
    border-radius: 3rem;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(5, 5, 5);
    background-image: linear-gradient(to left bottom, #46ffffdd, rgba(48, 130, 119, 0.729), rgba(0, 3, 2, 0.355));
    font-weight: bold;

    /* for text gredient color. */
    background-image: linear-gradient(45deg, #ebf702, #5cd7f9);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

}

#btn {
    width: 20%;
    font-size: 1rem;
}

/* for responsive */
@media screen and (max-width:600px) {
    .from_body{
        height: 95%;
        width: 95%;
    }
    #btn{
        width: 50%;
    }
}

/* the animation part is here  */
@keyframes bg_img_change {
    0% {
        /* for color gradient  */
        background-color: rgba(0, 0, 0, 0.759);
        background-image: linear-gradient(to right,#260000c2, rgba(9, 255, 222, 0.303), rgba(78, 248, 225, 0.303));
    }

    14.28% {
        /* for color gradient  */
        background-color: rgba(0, 0, 0, 0.759);
        background-image: linear-gradient(to right top,#260000de, rgba(9, 255, 222, 0.525), rgba(78, 248, 225, 0.178));
    }

    28.56% {
        /* for color gradient  */
        background-color: rgba(0, 0, 0, 0.759);
        background-image: linear-gradient(to top,#260000d6, rgba(9, 255, 222, 0.586), rgba(78, 248, 225, 0.426));
    }

    42.84% {
        /* for color gradient  */
        background-color: rgba(0, 0, 0, 0.759);
        background-image: linear-gradient(to top left,#260000d7, rgba(9, 255, 222, 0.519), rgba(78, 248, 225, 0.458));
    }

    57.12% {
        /* for color gradient  */
        background-color: rgba(0, 0, 0, 0.759);
        background-image: linear-gradient(to left,#260000e1, rgba(9, 255, 222, 0.695), rgba(78, 248, 225, 0.447));
    }

    71.40% {
        /* for color gradient  */
        background-color: rgba(0, 0, 0, 0.759);
        background-image: linear-gradient(to left bottom,#260000dd, rgba(9, 255, 222, 0.729), rgba(78, 248, 225, 0.355));
    }

    85.68% {
        /* for color gradient  */
        background-color: rgba(0, 0, 0, 0.759);
        background-image: linear-gradient(to bottom,#260000c9, rgba(9, 255, 222, 0.708), rgba(78, 248, 225, 0.334));
    }

    100% {
        /* for color gradient  */
        background-color: rgba(0, 0, 0, 0.759);
        background-image: linear-gradient(to bottom right,#260000a6, rgba(9, 255, 222, 0.942), rgba(78, 248, 225, 0.519));
    }

}

/* for animation  */
.leo {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
    z-index: -1;
}

.blue-orbit {
	width: 44rem;
	height: 44rem;
  border: 3px solid #91daffa5;
  -webkit-animation: spin3D 3s linear .2s infinite;
}

.green-orbit {
	width: 44rem;
	height: 44rem;
  border: 3px solid #91ffbfa5;
  -webkit-animation: spin3D 2s linear 0s infinite;
}

.red-orbit {
	width: 35rem;
	height: 35rem;
  border: 3px solid #ffca91a5;
  -webkit-animation: spin3D 1s linear 0s infinite;
}

.white-orbit {
	width: 20rem;
	height: 20rem;
  border: 3px solid #ffffff;
  -webkit-animation: spin3D 10s linear 0s infinite;
}

.w1 {
  transform: rotate3D(1, 1, 1, 90deg);
}

.w2 {
  transform: rotate3D(1, 2, .5, 90deg);
}

.w3 {
  transform: rotate3D(.5, 1, 2, 90deg);
}

@keyframes spin3D {
    from {
      transform: rotate3d(.5,.5,.5, 360deg);
    }
    to{
      transform: rotate3d(0deg);
    }
  }

  @media screen and (max-width:600px){
    .blue-orbit , .green-orbit{
        width: 17rem;
	height: 17rem;
    }
    .red-orbit {
        width: 15rem;
	height: 15rem;
    }
    .white-orbit{
        width: 5rem;
	height: 5rem;
    }
  }